@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<p style="display : block">The principal value is @Model.principal</p>
<p style="display : block">The terms value is @Model.terms</p>
<p style="display : block">The interest value is @Model.interest</p>
<p style="display : block">The simulation result value is @Model.simulation</p>
